<div class="card-car">
  <div class="d-flex justify-content-end">
    <div class="card-update-div text-center">
      <fa-icon
        [icon]="faEdit"
        class="text-white"
        style="cursor: pointer"
        (click)="openUpdate()"
      ></fa-icon>
    </div>
    <div class="card-remove-div text-center">
      <fa-icon
        [icon]="faTrash"
        class="text-white"
        style="cursor: pointer"
        (click)="removeCar()"
      ></fa-icon>
    </div>
  </div>
  <div class="row text-center mt-3">
    <p class="text-white">{{ brand }}</p>
  </div>
  <div class="row text-center mt-1">
    <p class="text-white">{{ model }} - {{ year }}</p>
  </div>
</div>

<div
  class="position-absolute top-50 start-50 translate-middle p-2 modal-update"
  *ngIf="isUpdate"
>
  <div class="row">
    <div class="col">
      <label class="text-white">Brand</label>
      <input class="form-control" type="text" [(ngModel)]="brandUpdate" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-8">
      <label class="text-white">Model</label>
      <input class="form-control" type="text" [(ngModel)]="modelUpdate" />
    </div>
    <div class="col">
      <label class="text-white">Year</label>
      <input class="form-control" type="number" [(ngModel)]="yearUpdate" />
    </div>
  </div>

  <div class="d-flex flex-row-reverse mt-3">
    <div class="p-2">
      <button class="btn btn-success" (click)="attCar()">Confirm</button>
    </div>
    <div class="p-2">
      <button class="btn btn-secondary" (click)="closeUpdate()">Close</button>
    </div>
  </div>
</div>
